<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>doyoudrainenough</title>
    <link id="stylesheet" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</head>
<body onload="blink(); responsive()">

<div id="text1"> <b>

    HOW MUCH DO YOU DRAIN? DO YOU DRAIN ENOUGH?* </b>
    <p id="text1subtext1">
        排水措施 <a href="/login/">CLICK HERE!!! FIND OUT NOW!!!*</a>
    </p>

    <img src="{{ url_for('static',filename='imgsrc/giflink.gif') }}">

</div>

<div id="text2">
    [X] YOU COMPUTER HAS BEEN &lt;br&gt; INFECTED !!!!! <br>
    <a href="https://www.reddit.com/r/sadboys/comments/jcrpb1/drain_gang_fan/" target="_blank"> CLICK HERE TO REMOVE THE VIRUS </a> <br>
    <img src="{{ url_for('static',filename='imgsrc/virus.gif') }}" width="100px" height="100px">
    <img src="{{ url_for('static',filename='imgsrc/virus.gif') }}" width="100px" height="100px"> 
    <img src="{{ url_for('static',filename='imgsrc/virus.gif') }}" width="100px" height="100px"> 
</div>

**you will be charged accordingly <br>
<img src="{{ url_for('static',filename='imgsrc/paymentoptions.png') }}"> <br><br><br>

<a href="https://open.spotify.com/album/0cT1SQDE7wSh1eUJkGFXse">
<img id="pornad" src="{{ url_for('static',filename='imgsrc/inyourarea.png') }}" height="250px" width="250px">
</a>
<p id="text4">
*Drain Gang（以前称为Gravity Boys Shield Gang）是一个艺术团体，主要关注音乐，包括瑞典歌手/说唱歌手Bladee和Ecco2K，<br> 泰国歌手/说唱歌手Thaiboy Digital和瑞典制作人Whitearmor和Yung Sherman。 该组织还以其时尚的输出而闻名，经常走访ALYX Studio等品牌并为HOMME杂志建模。
</p>
<div id="text3">
    <img src="{{ url_for('static',filename='imgsrc/thisugly.gif') }}" width="400px" height="650px" onclick="blockPopup()">
</div>

</body>

</html>
