<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>doyoudrainenough</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</head>
<body onload="blink()">

<div id="text1"> <b>

    HOW MUCH DO YOU DRAIN? DO YOU DRAIN ENOUGH? </b>
    <p id="text1subtext1">
        排水措施 <a href="/login/">CLICK HERE!!! FIND OUT NOW!!!*</a>
    </p>

    <img src="{{ url_for('static',filename='imgsrc/giflink.gif') }}">

</div>

<div id="text2">
    [X] YOU COMPUTER HAS BEEN &lt;br&gt; INFECTED !!!!! <br>
    <a href="https://www.reddit.com/r/sadboys/comments/jcrpb1/drain_gang_fan/" target="_blank"> CLICK HERE TO REMOVE THE VIRUS </a> <br>
    <img src="{{ url_for('static',filename='imgsrc/virus.gif') }}" width="100px" height="100px">
    <img src="{{ url_for('static',filename='imgsrc/virus.gif') }}" width="100px" height="100px"> 
    <img src="{{ url_for('static',filename='imgsrc/virus.gif') }}" width="100px" height="100px"> 
</div>

*you will be charged accordingly <br>
<img src="{{ url_for('static',filename='imgsrc/paymentoptions.png') }}"> <br><br><br>

<a href="https://open.spotify.com/album/0cT1SQDE7wSh1eUJkGFXse">
<img id="pornad" src="{{ url_for('static',filename='imgsrc/inyourarea.png') }}" height="250px" width="250px">
</a>

技競潟全謙速道謙供超技面育施。整認焼磐線長問浦取披土舗昭非掲遊行。学紙等載末試次弓止掲表会歩異子生康端。統意月手米享海井初成直輸端賞教 <br>。院掲冷部件陽供想場書長本一年定。宅意提三給烈記点物重員真代笑情寄。能外間可止大放晴見労面像祉伝踏擦子三余宮。古毎授出行極予保夏郷今級稿。火成国供正位圧野野引便供景能者利開。

<div id="text3">
    THIS SON OF A BITCH IS FUCKING SUPER HOT CHICKS AND BASICALLY YOURE FUCKING SUPID
</div>

</body>

</html>
