#text1 {
    color: red;
    font-size: 40px;
    background-color: yellow;
    height: 200px;
    padding-left: 50px;
    padding-top: 20px;
    max-width: 500px;
    text-shadow: 2px 2px black;
    border-style: solid;
}
#text1subtext1 {
    font-size: 20px;
    text-shadow: none;
}

#text1 img {
    margin-left: 50px;
}

#text2 {
    margin-left: 450px;
    margin-top: 40px;
    background-color:burlywood;
    height: 200px;
    width: 500px;
    position: relative;
    border-style: dotted;
    padding: 5px;
}
#text2 a {
    color: orangered;
    font-size: 30px;
    text-shadow: orchid;
}

#text3 {
    position: relative;
    margin-left: 60%;
    top: 0px;
}

#pornad {
    margin-left: 150px;
    border-style: dotted;
    border-color: red;
}