.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". score_number score_txt ."
      ". fav_a_img fav_a_txt ."
      ". ft_txt ft_img ."
      "footer footer footer footer";
  }

  body {
      font-family: sans-serif;
      overflow-y: hidden;
  }
  
  .score_number { 
      grid-area: score_number; 
      font-size: 50px;
      text-align: right;
      margin-top: 50px;
      margin-right: 5px;
    }
  
  .score_txt { 
      grid-area: score_txt;
      margin-top: 50px;
      margin-left: 5px;
    }
  
  .fav_a_img {
    margin-right: 5px;
      margin-top: 50px;
      grid-area: fav_a_img;
      text-align: right;
      -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    }
  
  .fav_a_txt { 
    margin-left: 5px;
    margin-top: 80px;
    grid-area: fav_a_txt;
    font-size: 15px;
    }

    .ft_txt {
        grid-area: ft_txt;
        margin-right: 5px;
        margin-top: 35px;
        font-size: 15px;
        text-align: right;
        margin-bottom: 0px;
        padding-left: 100px;
    }

    .ft_img {
        grid-area: ft_img;
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
  
  .footer { 
      grid-area: footer;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

  .fav_a_name_name {
      font-size: 40px;
      margin-top: 0px;
  }

  .ft_name_name {
      font-size: 30px;
      margin-right: 0px;
      margin-top: 5px;
      padding-left: 75px;
  }
  